# yamllint disable rule:line-length
# yamllint disable rule:braces

name: Tests

on:
    pull_request:
    push:
        branches:
            - main

concurrency:
    group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
    cancel-in-progress: true

jobs:
    tests:
        runs-on: ubuntu-latest
        env:
            SYMFONY_REQUIRE: ${{ matrix.symfony-require }}

        strategy:
            matrix:
                php-version: [ '8.4', '8.5' ]
                coverage-driver: [ pcov, xdebug ]
                symfony-require:
                    - '6.4.*'
                    - '7.4.*'
                    - '8.0.*'
                exclude:
                    -   php-version: '8.3'
                        symfony-require: '^7'

        name: Unit tests on PHP ${{ matrix.php-version }} with Symfony ${{ matrix.symfony-require }} (${{ matrix.coverage-driver }})

        steps:
            -   name: Checkout
                uses: actions/checkout@v6

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php-version }}
                    coverage: ${{ matrix.coverage-driver }}
                    tools: composer:v2, flex

            -   name: Get composer cache directory
                id: composer-cache
                run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

            -   name: Cache dependencies
                uses: actions/cache@v5
                with:
                    path: ${{ steps.composer-cache.outputs.dir }}
                    key: composer-${{ runner.os }}-${{ matrix.php-version }}-${{ matrix.symfony-require }}-${{ hashFiles('composer.*') }}
                    restore-keys: |
                        composer-${{ runner.os }}-${{ matrix.php-version }}-${{ matrix.symfony-require }}-
                        composer-${{ runner.os }}-${{ matrix.php-version }}-
                        composer-${{ runner.os }}-
                        composer-

            -   name: Configure Symfony Flex
                run: composer config extra.symfony.require ${{ matrix.symfony-require }}

            -   name: Install dependencies
                run: composer update --optimize-autoloader --no-interaction --no-progress --prefer-dist

            -  name: Enabling Xdebug
               if: ${{ matrix.coverage-driver == 'xdebug' }}
               run: echo "XDEBUG_MODE=coverage" >> $GITHUB_ENV

            -   name: Run tests and generate coverage
                run: make test-unit

            -   name: Upload coverage results to Coveralls
                env:
                    COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
                run: vendor/bin/php-coveralls

    e2e:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                php-version: [ '8.3', '8.4', '8.5' ]
                coverage-driver: [ pcov, xdebug ]

        name: End-to-end with PHP ${{ matrix.php-version }} (${{ matrix.coverage-driver }})

        steps:
            -   name: Checkout
                uses: actions/checkout@v6

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php-version }}
                    coverage: ${{ matrix.coverage-driver }}
                    tools: composer:v2

            -  name: Enabling Xdebug
               if: ${{ matrix.coverage-driver == 'xdebug' }}
               run: echo "XDEBUG_MODE=coverage" >> $GITHUB_ENV

            -   name: Run E2E tests
                env:
                    TERM: xterm-256color
                run: make test-e2e

    # This is a meta job to avoid to have to constantly change the protection rules
    # whenever we touch the matrix.
    tests-status:
        name: Tests Status
        runs-on: ubuntu-latest
        timeout-minutes: 30
        needs:
            - tests
            - e2e
        if: always()
        steps:
            -   name: Successful run
                if: ${{ !(contains(needs.*.result, 'failure')) }}
                run: exit 0

            -   name: Failing run
                if: ${{ contains(needs.*.result, 'failure') }}
                run: exit 1
